{% extends 'index.html' %}
{% load i18n %}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "FIP GeoNode" %}</h1>
      <p>{% blocktrans %} The Freshwater Information Platform GeoNode is a platform for sharing geospatial data and maps for freshwater ecology, management and research.{% endblocktrans %}</p>
      <p>{% blocktrans %}If you have any questions about the software or service, contact us at <a href="mailto:info@freshwaterplatform.eu">info@freshwaterplatform.eu</a>.{% endblocktrans %}</p>
      <span>{% trans 'More Information' %} <a href="http://www.freshwaterplatform.eu/index.php/about.html">{% trans 'About the Freshwater Information Platform' %}</a></span>
    </div>
  </div>
  {% endblock %}
